.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1c4c96;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover{
    background-color: #896a93;
}

.operador {
    background-color: #094974;
}

.operador:hover{
    background-color: #2196f3;
}

